<main class="log-container">
  <h1>Log in to meet your forever
    <span class="lonely">lonely</span> partner</h1>
  <div class="log-card">
    <form class="form" action="/log" method="POST">
      <label for="email">E-mail</label>
      <input type="email" name="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" required>
      <button class="form-btn">Log-In</button>
    </form>
    <form class="form" action="/register" method="GET">
      <p>Are you new user?</p>
      <button class="sign-up_btn">Sign Up</button>
    </form>
  </div>
</main>