.register-container {
	background-color: rgb(26, 26, 26);
  color: white;
  font-weight: 100;
  width: 100vw;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.welcome h1 {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

.welcome i, 
.welcome span {
  color: rgb(0, 195, 255);
}

.register-card {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 70%;
  border: 1px solid rgb(124, 124, 124);
  border-radius: .3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgb(170, 170, 170);
}

.user {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
}

.user h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgb(170, 170, 170);
}

.user label {
  font-size: 1.3rem;
}

.user input {
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0 .3rem;
  margin: .5rem 0;
  border-radius: .3rem;
  border: 1px solid rgb(170, 170, 170)
}
.user input:focus,
.user select:focus,
.user textarea:focus {
  outline-color: rgb(0, 195, 255)
}

.user select {
  font-size: 1.3rem;
  font-weight: 200;
  width: 10rem;
  margin: .5rem 0;
}

.user textarea{
  font-size: 1.3rem;
  font-weight: 200;
  resize: none;
  height: 8rem;
  border-radius: .3rem;
  padding: 0 .3rem;
}

.radio-box {
  margin: .5rem 0;
}

.radio-answer {
  width: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: .1rem .3rem;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
  border-radius: .3rem;
  width: 10rem;
  margin: 1rem auto;
  background-color: rgb(0, 195, 255);
  border: none;
  transition: all .3s;
  letter-spacing: .1rem;
}

.btn:hover {
  color: white;
  background-color: rgb(0, 92, 121)
}

.exist {
  color: rgb(255, 58, 58);
}

@media (max-width: 750px) {
  .user {
    width: 20rem;
  }
}

@media (max-width: 600px) {

  .register-card {
    margin-top: 1rem;
  }

  .form {
    width: 100%;
    border: none;
    margin: 0 1rem;
  }

  .user {
    width: 18rem;
  }

  .welcome h1 {
    font-size: 2rem;
  }

  .user h2 {
    font-size: 1.6rem;
  }

}